body {
    text-align: center;
    background-color: #B4A5A5;
    font-family: 'Merriweather Sans', sans-serif;
    overflow-x: hidden;
}
 h1{
 color: #0F044C;
 margin-top: 5em;
 }
img {
    height: 250px;
    width: 500px;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

.form {
    margin: 100px auto;
}

footer {
    padding: 1rem;
   color:#787A91;
   position:absolute;
   left: 0;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
   background:#2C394B;
   font-weight: bold;
}
.colours {
    margin: 2em auto;
    height: 40px;
    width: 200px;
    border-width: 1px;
    background-color: white;
}

.grid-container {
  max-width: 500;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 900px) {
  .grid-container { grid-template-columns: repeat(3, 1fr); }
}

input[type=file]::file-selector-button {
   margin-left: 20px;
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
}

input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}

.btn {
    background-color:#171717;
    color:#EEEEEE;
    padding: 10px;
    border: none;
    border-radius: 5%;
}

.btn:hover {
    background-color: #444444;
}