<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&family=Roboto&display=swap" rel="stylesheet">
    <title>Image Colour Extractor</title>
</head>
<body>
    <h1>Image Colour Extractor</h1>
    <div class="form">
        <form action="/colour" method = "post" enctype="multipart/form-data">
            <div>
                <input type="file" name="file" />
            </div>

            <div style="margin-top: 50px">
            <button class="btn" type = "submit" > Submit </button>
                </div>
    </form>
    </div>

    <footer>
        <p>© Anisha {{ year }}</p>
    </footer>
</body>
</html>